@font-face {
    font-family: 'gorillaz1regular';
    src: url('../fonts/gorillaz_1-webfont.woff2') format('woff2'),
         url('../fonts/gorillaz_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/BebasNeue.woff') format('woff');
}